<!DOCTYPE html>
<html>
<style>
header {
	background: linear-gradient(#ff2a2a, #ff7a2a, #ffc52a, #43ff2a, #2a89ff, #202082,
		#e82aff);
}

p {
	color: black;
}

h2 {
	color: white;
	background-color: black;
}
</style>
<head>
<th:blcok th:include="head" />
</head>
<body>
	<header class="jumbotron bg-success text-white">
		<h2>&#128065;Hello My Home&#128065;
		</h2>
		<p>&#128065;나의 Home에 오신것을 환영합니다.&#128065;</p>
	</header>
	<section>
		<h2>&#128065;tymeleaf 예제&#128065;</h2>
		<p th:text="${username}">&#128065;사용자 이름&#128065;</p>
		<p th:text="${tel}">&#128065;전화번호&#128065;</p>
	</section>
	<th:block th:include="footer" />
</body>
</html>
